.fetch-button {
    min-width: 150px;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(54, 202, 165);
    border: none;
    color: rgb(40, 133, 150);
    transition: all 0.5s;
  }
  
  .fetch-button:hover {
    background-color: rgb(40, 209, 209);
  }
  
  .houses {
    display: flex;
    flex-wrap: wrap;
  }
  
  .houses {
    background: #fff;
    position: relative;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 47%;
    color: #333;
    flex-basis: width;
    background-color: rgb(165, 230, 230);
  }
  
  .houses h3 {
    margin-bottom: 5px;
    font-size: 1rem;
    opacity: 0.7;
  }
  
  .houses h2 {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 1.5rem;
  }
  
  .details {
    text-align: left;
  }