* {
  box-sizing: border-box;
}

.Appprofile {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 80px;
}

.Appprofile > h1 {
  margin-bottom: 5px;
}

.Appprofile > h2 {
  margin-top: 5px;
  opacity: 0.7;
  font-size: 1.2rem;
  margin-bottom: 30px;
}


.profile {
    background: #fff;
    position: top;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 90%;
    color: rgb(0, 0, 0);
    flex-basis: width;
    background-color: rgb(209, 209, 209);
  }

  
  .profiles {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .profile h3 {
    margin-bottom: 5px;
    font-size: 1rem;
    opacity: 0.7;
  }
  
  .profile h2 {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 1.5rem;
  }
  
  .details {
    text-align: center;
  }